<a href="https://colab.research.google.com/github/MarvinLopezOsorio/AnaliticaPredictiva_Tareas/blob/main/Clasificacion%20de%20vinos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
red_wine = pd.read_csv('https://raw.githubusercontent.com/MarvinLopezOsorio/AnaliticaPredictiva_Tareas/main/wine_data/winequality-red.csv', sep=';')
white_wine = pd.read_csv('https://raw.githubusercontent.com/MarvinLopezOsorio/AnaliticaPredictiva_Tareas/main/wine_data/winequality-white.csv', sep=';')
red_wine['wine_class'] = 0
white_wine['wine_class'] = 1
wines = red_wine.append(white_wine)
wine_classes = {0:'red', 1:'white'}
wines['wine_type'] = wines['wine_class'].map(wine_classes)
wines['wine_type'] = wines['wine_type'].astype('category')

In [12]:
wines.head()

   fixed acidity  volatile acidity  citric acid  ...  quality  wine_class  wine_type
0            7.4              0.70         0.00  ...        5           0        red
1            7.8              0.88         0.00  ...        5           0        red
2            7.8              0.76         0.04  ...        5           0        red
3           11.2              0.28         0.56  ...        6           0        red
4            7.4              0.70         0.00  ...        5           0        red

[5 rows x 14 columns]

In [13]:
wines.dtypes

fixed acidity            float64
volatile acidity         float64
citric acid              float64
residual sugar           float64
chlorides                float64
free sulfur dioxide      float64
total sulfur dioxide     float64
density                  float64
pH                       float64
sulphates                float64
alcohol                  float64
quality                    int64
wine_class                 int64
wine_type               category
dtype: object